body {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  color: black;
  font-family: 'arial';
  fontsize: 14px;
}

h1,h2 {
  font-size: 30px;
  font-weight: bold;
  color: #006600;
}

.header-title-area {
  font-family: 'arial';
  font-size: 25px;
  color: white;
  margin: auto 10px auto 10px;
}

.image-0 {
  text-align:center;
}


.left-contents {
  display: block;
  width: 300px;
  margin:5px;
  float: left;
  background-color: #006600;
}

.calendar {
  padding: 25px;
  background-color: #fff;
}

.right-contents {
  display: block;
  width: 700px;
  margin:5px;
  float: right;
}

.facilities {
  padding: 25px;
}

.span {
  font-size: 20px;
  font-weight: bold;
}
